/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FFFAFA;
}

/* Хедер */
.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Логотип */
.logo img {
    height: 30px;
    
}

/* Навигация */
.nav {
    display: flex;
    gap: 12px;
}

.nav-link {
    padding: 8px 14px;
    text-decoration: none;
    color: #333;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.2s;
}

.nav-link:hover {
    background-color: #f0f0f0;
}

/* Активная кнопка */
.nav-link.active {
    color: #1e6fff;
    background-color: transparent;
    font-weight: 600;
    cursor: default;
}


/* Кнопка "Личный кабинет" */

.profile-btn {
    background-color: #1e6fff;
    color: #ffffff;
    border-radius: 999px;
    padding: 10px 28px;     /* чуть больше по вертикали */
    font-weight: 500;
    text-decoration: none;

    white-space: nowrap;
    line-height: 1;        /* ❗ фикс */
    
    display: flex;         /* идеальное центрирование */
    align-items: center;
    justify-content: center;
}


